%h2=t('.title_h2')
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %fieldset
    = f.input :login
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
  .actions
    = f.button :submit, :class => 'btn primary'
    %br
    = render :partial => "devise/shared/links"
