- title "Users"

%table
  %tr
    %th Login
    %th Email
  - users.each do |u|
    %tr
      %td= u.login
      %td= u.email
      %td= link_to 'Show', u
      %td= link_to 'Edit', edit_user_path(u)
      %td= link_to 'Destroy', u, :confirm => 'Are you sure?', :method => :delete
