%h2=t('.title_h2')
= simple_form_for(User.new, :url => session_path('user')) do |f|
  %fieldset
    = f.input :email
    = f.input :password
  .actions.remember
    = f.input :remember_me, :as => :boolean, :wrapper => false
    = f.button :submit, :class => 'btn primary', :value => t('.sign_in')
    %br
    = render :partial => "devise/shared/links"
